body, html {
 height: 100%;
}

body {
    margin: 0;
}
.movies-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.movie-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}
.movie-image {
}
.subsection {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
}
.movie-title {
    font-size: 2em;
    margin-bottom: 5vh;
}
.movie-description {
    display: inline;
    font-size: 1.5em;
    width: 50vw;

}